*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;

}
body{ 
      background-image: url(accets/baskgroun.jpg);
      height: 100%;
      width: 100%;
      
}

.w{
      font-size: 5rem;
      font-weight: 500;
      text-shadow: 20px sandybrown;
      color: burlywood;
      border: 5px solid wheat;
      padding: 0.5em;
      background-image: url(accets/1.jpg);

}


.a{
      font-size: 5rem;
      font-weight: 500;
      text-shadow: 20px sandybrown;
      color: burlywood;
      border: 5px solid wheat;
      padding: 0.5em;
      background-image: url(accets/3.webp);

}
.b{
      font-size: 5rem;
      font-weight: 500;
      text-shadow: 20px sandybrown;
      color: burlywood;
      border: 5px solid wheat;
      padding: 0.5em;
      background-image: url(accets/back\ 2.webp);

}

.s{
      font-size: 5rem;
      font-weight: 500;
      text-shadow: 20px sandybrown;
      color: burlywood;
      border: 5px solid wheat;
      padding: 0.5em;
      background-image: url(accets/pinoo.jpg);

}

.p{
      font-size: 5rem;
      font-weight: 500;
      text-shadow: 20px sandybrown;
      color: burlywood;
      border: 5px solid wheat;
      padding: 0.5em;
      background-image: url(accets/pianoo2.png);

}

.t{
      font-size: 5rem;
      font-weight: 500;
      text-shadow: 20px sandybrown;
      color: burlywood;
      border: 5px solid wheat;
      padding: 0.5em;
      background-image: url(accets/2.jpg);

}

#error-message{
      
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:transparent;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 10px;
      font-size: xx-large;
      font-weight: 400;

}